.field-validation-error { color: #f00;}
.field-validation-valid { display: none;}
.input-validation-error { border: 1px solid #f00;background: #fee;}

.validation_summary-errors {
    font-weight: bold;
    color: #f00;
}
.validation_summary-valid { display: none;}
